@model IEnumerable<Best_Shop_Doors.Models.OZakaze>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kolich)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zakaz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Door)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kolich)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zakaz.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Door.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
